*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.page {
    min-height: 100%;
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer {
    margin-top: auto;
}
.navbar-toggler {
    display: none;
}
.user-info>h6 {
    font-size: 12px;
}
.avatar {
    width: 160px;
}
.avatar-img {
    height: 50px;
}
.profil-box {
    width: 150px;
    z-index: 1;
    position: absolute;
    left: 2%;
}
.profil-box>div {
    display: none;
}
.sidebar-item>a,
.list-group-item>a {
    text-decoration: none;
}
.sidebar-item>a::after {
    content: "";
    display: block;
    margin: auto;
    height: 4px;
    width: 0;
    top: 5px;
    background: transparent;
}
.sidebar-item:hover,
.active {
    background-image: linear-gradient(to right, rgb(179, 218, 250), rgb(3, 142, 188), rgb(179, 218, 250));
}
.sidebar>ul {
    width: 200px;
    list-style: none;
}
.menu {
    display: none;
    list-style: none;
}
.form-group .icon {
    padding-left: 2.375rem;
}
.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.registration-form {
    display: none;
}
.error-page {
    margin: auto;
}
.vertical-form .vertical-form-icon {
    height: 600px;
}
.time-line {
    display: none;
}
#file-uploade-1>div,
#file-uploade-2>div,
#file-uploade-3>div {
    height: 300px;
}
p {
    font-size: medium;
}
.toggleBox>input[type="checkbox"] {
    position: relative;
    width: 70px;
    height: 25px;
    background: #bdc3c7;
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    transition: .4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.toggleBox>input:checked[type="checkbox"] {
    background: #3498db;
}
.toggleBox>input[type="checkbox"]::before {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .4s;
}
.toggleBox>input:checked[type="checkbox"]::before {
    left: 45px;
}
.toggleBox {
    position: relative;
    display: inline;
}
.ofbtn {
    bottom: 0px;
    right: 10px;
    color: #34495e;
}
.calendar {
    display: flex;
}
.logo-sidebar {
    display: none;
}
.change-avatar {
    margin-left: -15px;
}
.doughnut-charts {
    width: 450px;
}
@media screen and (max-width: 500px) {
    nav,
    .page {
        width: 100%;
    }
    .profil-box {
        width: 100px;
        left:0
    }
    .search {
        display: none;
    }
    .avatar {
        margin: 0;
        position: absolute;
        right: 0px;
        width: 150px;
        margin-right: 0;
        padding-right: 0;
    }
    .avatar-img {
        height: 40px;
        width: auto;
        margin-top: 6px;
        float: right;
    }
    .user-info>h6 {
        font-size: x-small;
        padding-left: 0;
    }
    .sidebar {
        width: 100%;
        height: 100vh;
        display: none;
        padding: 0;
        margin: 0;
    }
    .sidebar-item {
        padding: 0;
        margin: 0;
    }
    .navbar-toggler {
        display: block;
    }
    .buttons>button {
        width: 50%;
        margin: auto;
    }
    .logo-nav {
        display: none;
    }
    .logo-sidebar {
        display: block;
        margin-left: auto;
    }
    .doughnut-charts {
        width: 200px;
        text-align: center;
    }
}